[Unit]
Description=Sphere Application
After=network.target

[Service]
Type=simple
ExecStart=/opt/sphere/app --config /opt/sphere/config.json
WorkingDirectory=/opt/sphere
#User=nobody  # change to a specific user if needed
#Group=nobody # change to a specific group if needed
Restart=always
RestartSec=5
Environment="GIN_MODE=release"
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target